/* Get font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Border box model */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  background: #121826;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-image: radial-gradient(#0f172a 1px, transparent 0),
      radial-gradient(#0f172a 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Basic styles */
button {
  font-family: "Inter", sans-serif;
}

h2 {
  padding-bottom: 22px;
  font-weight: 500;
}

p {
  color: #a1a1a9;
  padding-bottom: 5px;
}

ul {
  padding-left: 1rem;
}

li {
  padding: 2px 0;
}

form {
  margin: auto;
  max-width: 500px;
  width: 80%;
}

/* box styles */
#container {
  padding: 2.5rem;
  background: #212936;
  border: #4d5562 1px solid;
  border-radius: 20px;
}

#wrapper {
  padding-top: 28px;
  display: flex;
  justify-content: center;
}

/* Button styles */
#continue {
  color: #e5e7eb;
  padding: 12px 40px;
  border-radius: 30px;
  border: none;
  background: rgb(101, 44, 209);
  background: linear-gradient(
      0deg,
      rgba(101, 44, 209, 1) 0%,
      rgba(132, 94, 238, 1) 100%
  );
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#continue:hover {
  filter: brightness(110%);
  transform: translateY(-2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

/* Input field styles */
input,
input:-webkit-autofill {
  border: #4d5562 2px solid;
  border-radius: 10px;
  color: #e5e7eb;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  padding: 12px;
  width: 100%;
}

.input {
  padding: 12px 0;
}

.input p {
  font-size: 14px;
}

.invalid {
  border: #b30000 2px solid;
  background-color: rgba(179,0,0,10%);
}

.warning {
  display: none;
  color: #ff2e2e;
  padding: 4px 0 0 0;
  margin: 0;
}

/* Hide pages/tabs by default */
.tab {
  display: none;
}

/* Topic selector styles */
#selectors {
  display: flex;
  flex-flow: row wrap;
  gap: 14px;
}

#selectors button {
  color: #a1a1a9;
  background-color: #394150;
  text-align: left;
  border: #4d5562 1px solid;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  font-weight: 400;
}

#selectors button:hover {
  border: #845eee 1px solid;
}

#selectors .selected {
  color: #e5e7eb;
  background-color: #652cd1;
  border: #845eee 1px solid;
  font-weight: 500;
}

/* Text separation containers */
.container-1 {
  padding-bottom: 1rem;
}

/* Output styles */
#name-val,
#email-val {
  color: #e5e7eb;
  font-weight: 500;
}

/* Step indicator styles */
#steps {
  padding-top: 12px;
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

#steps p {
  color: #394150;
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

#step-row {
  margin-right: 17%;
  display: flex;
  align-items: center;
  text-align: center;
}

.step {
  height: 12px;
  width: 12px;
  margin: 0 8px;
  background-color: #394150;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.step.active {
  margin: 0 4px;
  height: 24px;
  width: 24px;
  background-color: #753ee4;
  border: 6px #362d61 solid;
}

.step.finish {
  background-color: #753ee4;
}
