@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #121826;
    color: #E5E7EB;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    background-image: radial-gradient(#0f172a 1px,transparent 0),radial-gradient(#0f172a 1px,transparent 0);
    background-position: 0 0,25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

p {
    color: #A1A1A9;
    padding-bottom: 5px;
}

form {
    margin: auto;
    width: 50%;
}

#container {
    padding: 2.5rem;
    background: #212936;
    border: #4d5562 1px solid;
    border-radius: 20px;
}

#continue {
    display: flex;
    flex-flow: row nowrap;
}

#continue button {
    justify-self: center;
}

input {
    border: #4d5562 2px solid;
    border-radius: 10px;
    color: #E5E7EB;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    padding: 12px;
    width: 100%;
}

.input {
    padding: 12px 0;
}

.input p {

}

#selectors {
    display: flex;
    flex-flow: row wrap;
}

#selectors button {
    width: 100%;
}

.step {

}

.step.active {

}

.step.finish {

}